@use './scss/normalize';
@use './scss/variables' as v;
@use './scss/mixin' as m;
@use './scss/animation';
@use './scss/utils';

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom right, v.$light-blue, v.$blue);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: v.$very-light;
}
.main {
  width: 100%;
  margin-top: 95px;
  background-color: v.$very-light;
  border-radius: v.$main-radius-desktop;
  @include m.responsive(mobile) {
    border-radius: v.$main-radius-mobile;
  }
  &-container {
    max-width: v.$desktop-box-width;
    width: v.$maximum-width;
    min-height: calc(100vh - 281px);
    @include m.center-box;
    padding-top: 4rem;
    padding-bottom: 0.9rem;
    @include m.responsive(mobile) {
      padding-top: 1rem;
    }
    &-weathers {
      display: flex;
      @include m.responsive(laptop) {
        flex-direction: column;
        row-gap: 2rem;
      }
      @include m.responsive(mobile) {
        // row-gap: 2rem;
      }
      &.full {
        justify-content: space-between;
      }
      &.empty {
        column-gap: 2rem;
      }
    }
    &-hours {
      display: flex;
      justify-content: space-between;
      margin-top: 2.5rem;
      @include m.responsive(mobile) {
        padding-top: 15px;
        margin-top: 1rem;
        overflow: auto;
        scroll-snap-type: x proximity;
        scroll-padding-left: 8px;
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
      }
      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
    }
  }
}
.background {
  width: 100%;
  min-height: 100vh;
  background: url(./assets/big-blue-circles.svg) no-repeat;
  background-size: 670px;
  background-position: 110% -80px;
  position: absolute;
  z-index: -1;
  @include m.responsive(tablet) {
    background-size: 500px;
  }
  @include m.responsive(mobile) {
    background-size: 300px;
  }
}
.header {
  &-container {
    max-width: v.$desktop-box-width;
    width: v.$maximum-width;
    display: flex;
    flex-wrap: wrap;
    @include m.center-box;
    padding-top: 30px;
    &-search,
    &-location {
      width: 583px;
      text-align: center;
      flex-grow: 1;
    }
    &-search {
      h1 {
        font-size: 4rem;
        @include m.transition(font-size);
        @include m.responsive(mobile) {
          font-size: 2rem;
        }
      }
    }
    &-location {
      h1 {
        font-size: 6.5rem;
        font-weight: 800;
        text-transform: capitalize;
        letter-spacing: -12px;
        text-align: center;
        color: #000;
        text-shadow: 2px 4px 0 #fff, 4px 6px 0 #adadad, 6px 8px 0 #3e3e3e;
        opacity: 0.4;
        @include m.responsive(mobile) {
          font-size: 3.5rem;
          letter-spacing: -6px;
        }
      }
      h3 {
        text-transform: capitalize;
        margin-bottom: -2rem;
        text-align: right;
        @include m.responsive(tablet) {
          text-align: center;
        }
        @include m.responsive(mobile) {
          text-align: center;
        }
      }
    }
  }
  &-input {
    display: flex;
    align-items: center;
    column-gap: 1.75rem;
    width: 100%;
    height: 58px;
    background-color: #fff;
    border-radius: v.$input-radius;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    &-icon {
      color: v.$dark-blue;
    }
    &-divider {
      display: inline-block;
      width: 2px;
      height: 70%;
      background-color: v.$dark-blue;
    }
    #input-location {
      font-size: 1.9rem;
      width: 100%;
      color: v.$dark-blue;
      caret-color: rgba(v.$dark-blue, 0.3);
    }
  }
}
.weather-box {
  width: 360px;
  height: 360px;
  background: linear-gradient(to bottom right, v.$box-blue-light, v.$blue 50%);
  border-radius: v.$box-radius;
  padding: 1.3rem;
  margin-top: -7rem;
  @include m.transition(transform);
  @include m.responsive(mobile) {
    max-width: 290px;
    width: 95%;
    height: auto;
    @include m.center-box;
    margin-top: -3rem;
  }
  &.full {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    @include m.weather-box-shadow;
    @include m.responsive(laptop) {
      margin-left: auto;
      margin-right: auto;
    }
    @include m.responsive(mobile) {
      grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
      padding-bottom: 3rem;
    }
  }
  &.empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-header {
    display: flex;
    align-items: center;
    @include m.responsive(mobile) {
      flex-direction: column;
      justify-content: center;
    }
    &-icon {
      margin-top: -2.5rem;
    }
    h3 {
      display: inline;
      font-size: 1.7rem;
      font-weight: bold;
      text-transform: capitalize;
      margin-left: auto;
      margin-right: auto;
      @include m.responsive(mobile) {
        font-size: 2rem;
      }
    }
  }
  &-content {
    display: grid;
    align-items: flex-end;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    @include m.responsive(mobile) {
      grid-template-columns: 1.5fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 20px;
      align-items: center;
    }
    & > h4:nth-child(1) {
      font-size: 1.6rem;
      font-weight: 500;
      text-transform: capitalize;
      order: 1;
      @include m.responsive(mobile) {
        font-size: 1rem;
      }
    }
    & > span:nth-child(2) {
      font-size: 1rem;
      // font-weight: 400;
      text-transform: capitalize;
      order: 3;
      align-self: flex-start;
      @include m.responsive(mobile) {
        font-size: 0.85rem;
      }
    }
    & > h4:nth-child(3) {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      order: 2;
      @include m.responsive(mobile) {
        font-size: 3rem;
      }
    }
    & > span:nth-child(4) {
      font-size: 1rem;
      // font-weight: 400;
      text-transform: capitalize;
      order: 4;
      align-self: flex-start;
      @include m.responsive(mobile) {
        font-size: 0.85rem;
      }
    }
  }
  &-conditions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include m.responsive(mobile) {
      // margin-top: -2rem;
    }
    & > div {
      width: 75px;
      height: 75px;
      text-align: center;
      background: v.$light-blue;
      border-radius: v.$condition-radius;
      padding: 0.5rem;
    }
    &-image {
      margin-bottom: 0.75rem;
    }
    img {
      width: 100%;
      height: auto;
    }
    &-value {
      font-weight: 500;
    }
    &-unit {
      font-size: 0.8rem;
      margin-left: 1px;
      font-weight: 300;
    }
  }
}
.weekdays {
  &.full {
    display: flex;
    justify-content: space-between;
    column-gap: 2.2rem;
    text-align: center;
    align-items: flex-start;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    @include m.responsive(mobile) {
      column-gap: 1.5rem;
      overflow-x: auto;
      padding-top: 0.5rem;
      padding-bottom: 1.5rem;
      scroll-snap-type: x mandatory;
      scroll-padding: 40px;
      padding-right: 1.5rem;
    }
  }
  &.full::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  &.empty {
    width: calc(100% - 392px);
    text-align: center;
  }
  &-day {
    width: 97px;
    background: linear-gradient(
      to bottom right,
      v.$box-blue-light,
      v.$blue 50%
    );
    border-radius: v.$box-radius;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    transition: transform 0.2s;
    @include m.responsive(mobile) {
      min-width: 70px;
      scroll-snap-align: start;
      img {
        width: 2rem;
        height: auto;
      }
    }
    h4 {
      display: flex;
      justify-content: center;
      font-size: 2.8rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -0.2rem;
      @include m.responsive(mobile) {
        font-size: 2rem;
      }
      span {
        font-size: calc(2.8rem * 0.6);
      }
    }
    &--name {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 500;
      margin-top: 1rem;
      @include m.responsive(mobile) {
        font-size: 1rem;
      }
    }
    &.active {
      background: linear-gradient(
        to bottom right,
        v.$box-blue-light,
        v.$dark-blue 50%
      );
      transform: translateY(-3px);
      @include m.day-box-shadow;
    }
  }
}
.each-hour {
  display: inline-block;
  width: 100%;
  text-align: center;
  background: v.$light-gray;
  padding: 4px 0 0 0;
  position: relative;
  @include m.responsive(mobile) {
    padding: 5px;
    scroll-snap-align: start;
  }
  &:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 2px;
    height: 65%;
    transform: translateY(-50%);
    background-color: v.$dark-blue;
    border-radius: 100px;
  }
  &:last-child {
    border-top-right-radius: v.$hour-radius;
    border-bottom-right-radius: v.$hour-radius;
  }
  &:first-child {
    border-top-left-radius: v.$hour-radius;
    border-bottom-left-radius: v.$hour-radius;
  }
  .hour {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem;
    color: #bababa;
    margin-top: -1.5rem;
    z-index: 1;
  }
  .underline {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 3px;
    background: #ffabab;
    border-radius: v.$box-radius;
    margin-top: -0.6rem;
    z-index: 0;
  }
  .temperature {
    color: #353535;
  }
  span {
    display: block;
  }
  &:nth-child(1) {
    color: #000;
  }
  img {
    width: 2rem;
    height: auto;
  }
}
