@use './scss/normalize';
@use './scss/variables' as v;
@use './scss/mixin' as m;
@use './scss/animation';

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom right, v.$light-blue, v.$blue);
  padding-top: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: v.$very-light;
}
.main {
  width: 100%;
  margin-top: 97px;
  background-color: v.$very-light;
  border-radius: v.$main-radius;
  &-container {
    width: v.$desktop-box-width;
    height: 431px;
    @include m.center-box;
    padding-top: 4rem;
    &-weathers {
      display: flex;
      justify-content: space-between;
    }
    &-hours {
      display: flex;
      justify-content: space-between;
      margin-top: 2.5rem;
    }
  }
}
.header {
  width: 100%;
  &-container {
    width: v.$desktop-box-width;
    @include m.center-box;
    &-input {
      width: 50%;
    }
    h1 {
      font-size: 4rem;
    }
  }
  &-input {
    display: flex;
    align-items: center;
    column-gap: 1.75rem;
    width: 100%;
    height: 58px;
    background-color: #fff;
    border-radius: v.$input-radius;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    &-icon {
      color: v.$dark-blue;
    }
    &-divider {
      display: inline-block;
      width: 2px;
      height: 70%;
      background-color: v.$dark-blue;
    }
    #input-location {
      font-size: 1.9rem;
      width: 100%;
      color: v.$dark-blue;
      caret-color: rgba(v.$dark-blue, 0.3);
    }
  }
}
.weather-box {
  width: 360px;
  height: 360px;
  background: linear-gradient(to bottom right, v.$box-blue-light, v.$blue 50%);
  border-radius: v.$box-radius;
  padding: 1.3rem;
  margin-top: -7rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  @include m.weather-box-shadow;
  &-header {
    display: flex;
    align-items: center;
    &-icon {
      margin-top: -2.5rem;
    }
    h3 {
      display: inline;
      font-size: 2rem;
      font-weight: bold;
      text-transform: capitalize;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &-content {
    display: grid;
    align-items: flex-end;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    & > h4:nth-child(1) {
      font-size: 1.6rem;
      font-weight: 500;
      text-transform: capitalize;
      order: 1;
    }
    & > span:nth-child(2) {
      font-size: 1rem;
      font-weight: 400;
      text-transform: capitalize;
      order: 3;
      align-self: flex-start;
    }
    & > h4:nth-child(3) {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      order: 2;
    }
    & > span:nth-child(4) {
      font-size: 1rem;
      font-weight: 400;
      text-transform: capitalize;
      order: 4;
      align-self: flex-start;
    }
  }
  &-conditions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    & > div {
      width: 100%;
      height: 100%;
      text-align: center;
      width: 75px;
      height: 75px;
      background: v.$light-blue;
      border-radius: v.$condition-radius;
      padding: 0.5rem;
    }
    &-image {
      margin-bottom: 0.75rem;
    }
    img {
      width: 100%;
      height: auto;
    }
    span {
      font-weight: 500;
    }
  }
}
.weekdays {
  display: flex;
  justify-content: space-between;
  column-gap: 2.2rem;
  text-align: center;
  align-items: flex-start;
  &-day {
    width: 97px;
    background: linear-gradient(
      to bottom right,
      v.$box-blue-light,
      v.$blue 50%
    );
    border-radius: v.$box-radius;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    transition: transform 0.2s;
    h4 {
      display: flex;
      justify-content: center;
      font-size: 2.8rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -1rem;
      span {
        font-size: calc(2.8rem * 0.6);
      }
    }
    span {
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: 500;
    }
    &.active {
      background: linear-gradient(
        to bottom right,
        v.$box-blue-light,
        v.$dark-blue 50%
      );
      transform: translateY(-3px);
      @include m.day-box-shadow;
    }
  }
}
.each-hour {
  display: inline-block;
  width: 100%;
  text-align: center;
  background: v.$dark-cyan;
  padding: 4px 0 0 0;
  position: relative;
  &:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 2px;
    height: 65%;
    transform: translateY(-50%);
    background-color: #eee;
    border-radius: 100px;
  }
  &:last-child {
    border-top-right-radius: v.$hour-radius;
    border-bottom-right-radius: v.$hour-radius;
  }
  &:first-child {
    border-top-left-radius: v.$hour-radius;
    border-bottom-left-radius: v.$hour-radius;
  }
  .hour {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem;
    color: #bababa;
    margin-top: -1.5rem;
  }
  span {
    display: block;
  }
  &:nth-child(1) {
    color: #000;
  }
  svg {
    color: #eee;
    box-shadow: -1px -1px 4px #b8b8b8, 1px 1px 3px #202020, 3px 3px 6px #353535;
    transition: all 0.2s;
    &:hover {
      transform: translateY(2px);
      box-shadow: -3px -3px 6px #b8b8b8a6, 1px 1px 3px #282828,
        5px 5px 8px #353535;
    }
  }
}
