@use './variables' as v;

.skeleton-loader {
  width: 100%;
  display: block;
  color: #222;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray;
  background-repeat: repeat-y;
  background-size: 350px 500px;
  background-position: 0 0;
  border-radius: v.$hour-radius;
  padding: 0.2rem 0.8rem;
  animation: shine 1s infinite;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &.first {
    height: 15rem;
    position: relative;

    &::after {
      $size: 10rem;
      content: '';
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      width: $size;
      height: $size;
      background: linear-gradient(
          to right,
          rgba(80, 80, 80, 0),
          rgba(255, 255, 255, 0.5) 50%,
          rgba(80, 80, 80, 0) 80%
        ),
        rgb(223, 223, 223);
      background-repeat: repeat-y;
      background-size: 60px 500px;
      background-position: 0 0;
      border-radius: v.$hour-radius;
      animation: shine 1s infinite;
    }
  }

  &.second {
    height: 5rem;
  }
}

@keyframes shine {
  to {
    background-position: 100% 0;
  }
}
