$light-blue: hsl(218, 100%, 79%);
$blue: hsl(219, 100%, 68%);
$dark-blue: hsl(245, 67%, 24%);
$purple: hsl(247, 91%, 74%);
$dark-purple: hsl(230, 22%, 25%);
$dark-cyan: hsl(198, 22%, 46%);
$box-blue-light: hsl(218, 100%, 88%);

$very-light: hsl(0, 0%, 98%);
$light-gray: hsl(0, 0%, 80%);
$dark: hsl(0, 0%, 5%);

$light-blue-shadow: hsla(218, 100%, 79%, 0.5);
$dark-blue-shadow: rgba($dark-blue, 0.5);

$desktop-box-width: 1166px;

$input-radius: 15px;
$main-radius: 50px 50px 0 0;
$box-radius: 25px;
$condition-radius: 17px;
